<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="col-sm-12 ">
        <h3 class="bg-primary">{{id}}</h3>
        <h5>{{val0}}</h6>
    </div>
    <div class="col-sm-12 ">
        <h3 class="bg-primary">{{first_name}}</h3>
        <h5>{{val1}}</h6>
    </div>
    <div class="col-sm-12 ">
        <h3 class="bg-primary">{{last_name}}</h3>
        <h5>{{val2}}</h6>
    </div>
    <div class="col-sm-12 ">
        <h3 class="bg-primary">{{phone}}</h3>
        <h5>{{val3}}</h6>
    </div>
    <div class="col-sm-12 ">
        <h3 class="bg-primary">{{email}}</h3>
        <h5>{{val4}}</h6>
    </div>
    <div class="col-sm-12 ">
        <h3 class="bg-primary">{{street}}</h3>
        <h5>{{val5}}</h6>
    </div>
    <div class="col-sm-12 ">
        <h3 class="bg-primary">{{city}}</h3>
        <h5>{{val6}}</h6>
    </div>
    <div class="col-sm-12 ">
        <h3 class="bg-primary">{{state}}</h3>
        <h5>{{val7}}</h6>
    </div>
    <div class="col-sm-12 ">
        <h3 class="bg-primary">{{zipcode}}</h3>
        <h5>{{val8}}</h6>
    </div>

</body>